/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Irish Grover';
  src: url("../fonts/IrishGrover-Regular.eot");
  src: url("../fonts/IrishGrover-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/IrishGrover-Regular.woff2") format("woff2"), url("../fonts/IrishGrover-Regular.woff") format("woff"), url("../fonts/IrishGrover-Regular.ttf") format("truetype"), url("../fonts/IrishGrover-Regular.svg#IrishGrover-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

section .container {
  max-width: 1170px;
  width: 100%;
  background-color: lightcyan;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
}

section .container > div {
  width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
}

section .container > div > p {
  font-size: 50px;
}

section .container .left-box {
  background-color: red;
}

section .container .left-box p {
  color: white;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all 2s;
  transition: all 2s;
}

section .container .left-box p:hover {
  color: green;
}

section .container .left-box p::before {
  content: "test";
  margin-right: 15px;
}

section .container .right-box {
  background-color: blue;
}

section .container .right-box p {
  color: yellow;
  font-family: "Irish Grover", cursive;
}
/*# sourceMappingURL=global.css.map */