section {

    .container {
        // max-width: 1170px;
        // width: 100%;
        @include max-sizes(1170px);
        background-color: lightcyan;
        margin: 0 auto;
        // display: flex;
        // justify-content: space-between;

        @include flex-props(space-between);
        
        // this div is for left-box and right-box
        & > div {
            @include sizes($size-1);
            @include flex-props(center, center);

            & > p {
                font-size: $f-size-1;
            }
        }

        .left-box {
            // width: $size-1;
            // height: $size-1;
            // @include sizes($size-1);
            background-color: $color-1;
            // @include flex-props(center, center);

            p {
                color: white;
                font-family: $font-1;
                transition: all 2s;

                &:hover {
                    color: green;
                }

                &::before {
                    content: "test";
                    margin-right: 15px;
                }
            }
         
        }
        
        .right-box {
            // width: $size-1;
            // height: $size-1;
            // @include sizes($size-1);

            // display: flex;
            // justify-content: center;
            // align-items: center;

            // @include flex-props(center, center);

            background-color: $color-2;
            p {
                color: yellow;
                font-family: $font-2;
            }
        }
    }
}



